<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lavishly+Yours&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
<header id="header">
    <strong>Schulprojekt</strong>
    <nav>
        <a href="">Startseite</a>
        <a href="/auth/register">Registrieren</a>
        <a href="/auth/login">Anmelden</a>
    </nav>
</header>
<div id="teaser">
</div>
<main>

    <div id="gameIntro">
        <img src="https://feedthemultiverse.com/wp-content/uploads/2018/07/ozzyflat.jpg" alt=""/>

        <div class="info-text">
        <h1>Schatten über Eldoria: Der Ruf der Dunkelheit</h1>
        <p>
        In den Tiefen uralter Wälder und auf den Gipfeln schneebedeckter Berge lauert das Unbekannte.
        Dunkle Mächte stiften Zwietracht und bedrohen das fragile Gleichgewicht zwischen den Völkern,
        die seit Jahrhunderten in einem zarten Frieden leben. Alte Prophezeiungen erwachen zum Leben,
        und mystische Kreaturen erheben sich aus ihren Verstecken, um sich in den Konflikt einzumischen.
        Wirst du dich der Herausforderung stellen und die Schatten vertreiben, die das Land in
        Dunkelheit hüllen, oder wirst du in den Strudel der Machtspiele und Intrigen gezogen, die die
        Welt zu verschlingen drohen? Werde Teil einer epischen Saga und schreibe deine eigene
        Geschichte, in der jedes Entscheidungen das Schicksal von Königreichen und alten Reichen
        bestimmt.</p>
            <a href="/auth/register"><button>Jetzt kostenlos spielen</button></a>
        </div>
    </div>
    <div class="content-wrapper">
        <video  width="40%" autoplay loop muted playsinline>
            <source src="/media/viking.mp4" type="video/mp4">
        </video>
        <div class="info-text">
            <h1>Warrior</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus enim in ipsam minus non provident quaerat! Ab aliquid id provident quibusdam vero. Alias dolore eius neque nisi officiis quam unde.
        </div>
    </div>
</main>
</body>
</html>
